In [1]:
import pandas as pd
import numpy as np
import json

In [42]:
dateframe_BDE20 = pd.read_json('C:\\Stack\\BDU\\BDE_cvss\\backward_difference_encoder_cvss20.json')
dateframe_BDE30 = pd.read_json('C:\\Stack\\BDU\\BDE_cvss\\backward_difference_encoder_cvss30.json')
dateframe_BDE31 = pd.read_json('C:\\Stack\\BDU\\BDE_cvss\\backward_difference_encoder_cvss31.json')

In [43]:
dateframe_BDE30

,AV_0,AV_1,AV_2,AC_1,AC_0,PR_0,PR_1,UI_1,UI_0,S_0,I_2,I_0,I_1,C_0,C_1,A_2,A_0,A_1
0,-0.75,-0.5,-0.25,1,-0.5,-0.666667,-0.333333,1,-0.5,-0.5,1,-0.666667,-0.333333,-0.666667,-0.333333,1,-0.666667,-0.333333
1,-0.75,-0.5,-0.25,1,-0.5,-0.666667,-0.333333,1,-0.5,-0.5,1,-0.666667,-0.333333,-0.666667,-0.333333,1,-0.666667,-0.333333
2,-0.75,-0.5,-0.25,1,-0.5,-0.666667,-0.333333,1,-0.5,-0.5,1,-0.666667,-0.333333,-0.666667,-0.333333,1,-0.666667,-0.333333
3,-0.75,-0.5,-0.25,1,-0.5,-0.666667,-0.333333,1,-0.5,-0.5,1,-0.666667,-0.333333,-0.666667,-0.333333,1,-0.666667,-0.333333
4,0.25,-0.5,-0.25,1,-0.5,-0.666667,-0.333333,1,-0.5,0.5,1,0.333333,-0.333333,0.333333,-0.333333,1,-0.666667,-0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24470,-0.75,-0.5,-0.25,1,0.5,-0.666667,-0.333333,1,-0.5,-0.5,1,-0.666667,-0.333333,-0.666667,-0.333333,1,-0.666667,-0.333333
24471,0.25,0.5,-0.25,1,-0.5,0.333333,-0.333333,1,-0.5,-0.5,1,0.333333,-0.333333,0.333333,-0.333333,1,-0.666667,-0.333333
24472,-0.75,-0.5,-0.25,1,-0.5,-0.666667,-0.333333,1,0.5,-0.5,1,-0.666667,-0.333333,0.333333,-0.333333,1,0.333333,-0.333333
24473,0.25,0.5,-0.25,1,-0.5,0.333333,-0.333333,1,-0.5,-0.5,1,0.333333,-0.333333,0.333333,-0.333333,1,-0.666667,-0.333333
24474,-0.75,-0.5,-0.25,1,-0.5,-0.666667,-0.333333,1,-0.5,-0.5,1,0.333333,-0.333333,0.333333,-0.333333,1,-0.666667,-0.333333

In [44]:
dateframe_BDE31

,AV_0,AV_1,AV_2,AC_1,AC_0,PR_0,PR_1,UI_0,S_0,I_2,I_0,I_1,C_0,C_1,A_2,A_0,A_1
0,-0.75,-0.5,-0.25,1,-0.5,-0.666667,-0.333333,-0.5,-0.5,1,-0.666667,-0.333333,-0.666667,-0.333333,1,-0.666667,-0.333333
1,-0.75,-0.5,-0.25,1,-0.5,-0.666667,-0.333333,-0.5,0.5,1,-0.666667,-0.333333,-0.666667,-0.333333,1,-0.666667,-0.333333
2,0.25,-0.5,-0.25,1,-0.5,0.333333,-0.333333,-0.5,0.5,1,0.333333,-0.333333,0.333333,-0.333333,1,-0.666667,-0.333333
3,0.25,-0.5,-0.25,1,-0.5,0.333333,-0.333333,-0.5,0.5,1,0.333333,-0.333333,0.333333,-0.333333,1,-0.666667,-0.333333
4,-0.75,-0.5,-0.25,1,-0.5,-0.666667,-0.333333,-0.5,0.5,1,0.333333,-0.333333,-0.666667,-0.333333,1,0.333333,-0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5348,-0.75,-0.5,-0.25,1,-0.5,0.333333,0.666667,-0.5,0.5,1,0.333333,-0.333333,0.333333,-0.333333,1,-0.666667,-0.333333
5349,-0.75,-0.5,-0.25,1,-0.5,0.333333,0.666667,-0.5,-0.5,1,0.333333,-0.333333,0.333333,-0.333333,1,-0.666667,-0.333333
5350,0.25,-0.5,-0.25,1,-0.5,0.333333,-0.333333,-0.5,0.5,1,-0.666667,-0.333333,-0.666667,-0.333333,1,-0.666667,-0.333333
5351,0.25,-0.5,-0.25,1,-0.5,0.333333,-0.333333,-0.5,0.5,1,-0.666667,-0.333333,-0.666667,-0.333333,1,-0.666667,-0.333333
5352,0.25,-0.5,-0.25,1,-0.5,0.333333,-0.333333,-0.5,0.5,1,0.333333,-0.333333,-0.666667,-0.333333,1,0.333333,-0.333333

In [45]:
dateframe_BDE20

,AV_2,AV_0,AV_1,AC_0,Au_2,Au_0,Au_1,I_0,I_1,C_2,C_0,C_1,A_0,A_1
0,1,-0.666667,-0.333333,-0.5,1,-0.666667,-0.333333,-0.666667,-0.333333,1,-0.666667,-0.333333,-0.666667,-0.333333
1,1,-0.666667,-0.333333,-0.5,1,-0.666667,-0.333333,-0.666667,-0.333333,1,-0.666667,-0.333333,-0.666667,-0.333333
2,1,0.333333,-0.333333,-0.5,1,-0.666667,-0.333333,0.333333,-0.333333,1,0.333333,-0.333333,-0.666667,-0.333333
3,1,0.333333,-0.333333,-0.5,1,-0.666667,-0.333333,0.333333,-0.333333,1,0.333333,-0.333333,-0.666667,-0.333333
4,1,-0.666667,-0.333333,-0.5,1,-0.666667,-0.333333,0.333333,-0.333333,1,0.333333,0.666667,0.333333,-0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48364,1,0.333333,-0.333333,NaN,1,-0.666667,-0.333333,0.333333,-0.333333,1,0.333333,-0.333333,-0.666667,-0.333333
48365,1,-0.666667,-0.333333,NaN,1,0.333333,-0.333333,-0.666667,-0.333333,1,-0.666667,-0.333333,-0.666667,-0.333333
48366,1,0.333333,-0.333333,NaN,1,-0.666667,-0.333333,0.333333,-0.333333,1,-0.666667,-0.333333,0.333333,-0.333333
48367,1,-0.666667,-0.333333,NaN,1,0.333333,-0.333333,-0.666667,-0.333333,1,-0.666667,-0.333333,-0.666667,-0.333333
48368,1,0.333333,-0.333333,NaN,1,-0.666667,-0.333333,-0.666667,-0.333333,1,-0.666667,-0.333333,-0.666667,-0.333333

In [6]:
dateframe_BE30 = pd.read_json('C:/Users/User/Desktop/BDU/BE_cvss/BE_cvss3.0.json')
dateframe_BE31 = pd.read_json('C:/Users/User/Desktop/BDU/BE_cvss/BE_cvss3.1.json')
dateframe_BE20 = pd.read_json('C:/Users/User/Desktop/BDU/BE_cvss/BE_cvss2.0.json')

In [10]:
dateframe_BE30

,AV_0,AV_1,AV_2,AC_0,AC_1,PR_0,PR_1,UI_0,UI_1,S_0,S_1,C_0,C_1,I_0,I_1,A_0,A_1
0,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
3,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
4,0,1,0,0,1,0,1,0,1,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24470,0,0,1,1,0,0,1,0,1,0,1,0,1,0,1,0,1
24471,0,1,1,0,1,1,0,0,1,0,1,1,0,1,0,0,1
24472,0,0,1,0,1,0,1,1,0,0,1,1,0,0,1,1,0
24473,0,1,1,0,1,1,0,0,1,0,1,1,0,1,0,0,1
24474,0,0,1,0,1,0,1,0,1,0,1,1,0,1,0,0,1

In [11]:
dateframe_BE31

,AV_0,AV_1,AV_2,AC_0,AC_1,PR_0,PR_1,UI_0,UI_1,S_0,S_1,C_0,C_1,I_0,I_1,A_0,A_1
0,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
1,0,0,1,0,1,0,1,0,1,1,0,0,1,0,1,0,1
2,0,1,0,0,1,1,0,0,1,1,0,1,0,1,0,0,1
3,0,1,0,0,1,1,0,0,1,1,0,1,0,1,0,0,1
4,0,0,1,0,1,0,1,0,1,1,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5348,0,0,1,0,1,1,1,0,1,1,0,1,0,1,0,0,1
5349,0,0,1,0,1,1,1,0,1,0,1,1,0,1,0,0,1
5350,0,1,0,0,1,1,0,0,1,1,0,0,1,0,1,0,1
5351,0,1,0,0,1,1,0,0,1,1,0,0,1,0,1,0,1
5352,0,1,0,0,1,1,0,0,1,1,0,0,1,1,0,1,0

In [12]:
dateframe_BE20

       AV_0  AV_1  AC_0  AC_1  Au_0  Au_1  C_0  C_1  I_0  I_1  A_0  A_1
0         0     1     0     1     0     1    0    1    0    1    0    1
1         0     1     0     1     0     1    0    1    0    1    0    1
2         1     0     0     1     0     1    1    0    1    0    0    1
3         1     0     0     1     0     1    1    0    1    0    0    1
4         0     1     0     1     0     1    1    1    1    0    1    0
...     ...   ...   ...   ...   ...   ...  ...  ...  ...  ...  ...  ...
48364     1     0     1     1     0     1    1    0    1    0    0    1
48365     0     1     0     1     1     0    0    1    0    1    0    1
48366     1     0     0     1     0     1    0    1    1    0    1    0
48367     0     1     0     1     1     0    0    1    0    1    0    1
48368     1     0     0     1     0     1    0    1    0    1    0    1

[48369 rows x 12 columns]

In [13]:
dateframe_HE30 = pd.read_json('C:/Users/User/Desktop/BDU/HE_cvss/HE_cvss3.0.json')
dateframe_HE31 = pd.read_json('C:/Users/User/Desktop/BDU/HE_cvss/HE_cvss3.1.json')
dateframe_HE20 = pd.read_json('C:/Users/User/Desktop/BDU/HE_cvss/HE_cvss2.0.json')

In [14]:
dateframe_HE30

,AV_0,AV_1,AV_2,AC_0,PR_0,PR_1,UI_0,S_0,C_0,C_1,I_0,I_1,A_0,A_1
0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,1,-1,-1,-1,-1,-1,-1,1,1,-1,1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24470,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
24471,0,2,-1,-1,1,-1,-1,-1,1,-1,1,-1,-1,-1
24472,-1,-1,-1,-1,-1,-1,1,-1,1,-1,-1,-1,1,-1
24473,0,2,-1,-1,1,-1,-1,-1,1,-1,1,-1,-1,-1
24474,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,1,-1,-1,-1

In [15]:
dateframe_HE31

,AV_0,AV_1,AV_2,AC_0,PR_0,PR_1,UI_0,S_0,C_0,C_1,I_0,I_1,A_0,A_1
0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1
2,1,-1,-1,-1,1,-1,-1,1,1,-1,1,-1,-1,-1
3,1,-1,-1,-1,1,-1,-1,1,1,-1,1,-1,-1,-1
4,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,1,-1,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5348,-1,-1,-1,-1,0,2,-1,1,1,-1,1,-1,-1,-1
5349,-1,-1,-1,-1,0,2,-1,-1,1,-1,1,-1,-1,-1
5350,1,-1,-1,-1,1,-1,-1,1,-1,-1,-1,-1,-1,-1
5351,1,-1,-1,-1,1,-1,-1,1,-1,-1,-1,-1,-1,-1
5352,1,-1,-1,-1,1,-1,-1,1,-1,-1,1,-1,1,-1

In [16]:
dateframe_HE20

       AV_0  AV_1  AC_0  AC_1  Au_0  Au_1  C_0  C_1  I_0  I_1  A_0  A_1
0        -1    -1    -1    -1    -1    -1   -1   -1   -1   -1   -1   -1
1        -1    -1    -1    -1    -1    -1   -1   -1   -1   -1   -1   -1
2         1    -1    -1    -1    -1    -1    1   -1    1   -1   -1   -1
3         1    -1    -1    -1    -1    -1    1   -1    1   -1   -1   -1
4        -1    -1    -1    -1    -1    -1    0    2    1   -1    1   -1
...     ...   ...   ...   ...   ...   ...  ...  ...  ...  ...  ...  ...
48364     1    -1     0     2    -1    -1    1   -1    1   -1   -1   -1
48365    -1    -1    -1    -1     1    -1   -1   -1   -1   -1   -1   -1
48366     1    -1    -1    -1    -1    -1   -1   -1    1   -1    1   -1
48367    -1    -1    -1    -1     1    -1   -1   -1   -1   -1   -1   -1
48368     1    -1    -1    -1    -1    -1   -1   -1   -1   -1   -1   -1

[48369 rows x 12 columns]

In [29]:
dateframe_LE30 = pd.read_json('C:/Users/User/Desktop/BDU/LE_cvss/LE_cvss3.0.json')
dateframe_LE31 = pd.read_json('C:/Users/User/Desktop/BDU/LE_cvss/LE_cvss3.1.json')
dateframe_LE20 = pd.read_json('C:/Users/User/Desktop/BDU/LE_cvss/LE_cvss2.0.json')

In [30]:
dateframe_LE30

       AV  AC  PR  UI  S  C  I  A
0       2   1   2   0  1  2  2  0
1       2   1   2   0  1  2  2  0
2       2   1   2   0  1  2  2  0
3       2   1   2   0  1  2  2  0
4       0   1   2   0  0  0  0  0
...    ..  ..  ..  .. .. .. .. ..
24470   2   0   2   0  1  2  2  0
24471   1   1   1   0  1  0  0  0
24472   2   1   2   1  1  0  2  2
24473   1   1   1   0  1  0  0  0
24474   2   1   2   0  1  0  0  0

[24475 rows x 8 columns]

In [31]:
dateframe_LE31

      AV  AC  PR  UI  S  C  I  A
0      1   1   1   0  0  0  0  0
1      1   1   1   0  1  0  0  0
2      2   1   2   0  1  2  2  0
3      2   1   2   0  1  2  2  0
4      1   1   1   0  1  0  2  2
...   ..  ..  ..  .. .. .. .. ..
5348   1   1   0   0  1  2  2  0
5349   1   1   0   0  0  2  2  0
5350   2   1   2   0  1  0  0  0
5351   2   1   2   0  1  0  0  0
5352   2   1   2   0  1  0  2  2

[5353 rows x 8 columns]

In [32]:
dateframe_LE20

       AV  AC  Au  C  I  A
0       1   1   1  0  0  0
1       1   1   1  0  0  0
2       2   1   1  1  1  0
3       2   1   1  1  1  0
4       1   1   1  2  1  1
...    ..  ..  .. .. .. ..
48364   2   0   1  1  1  0
48365   1   1   2  0  0  0
48366   2   1   1  0  1  1
48367   1   1   2  0  0  0
48368   2   1   1  0  0  0

[48369 rows x 6 columns]

In [33]:
dateframe_TE30 = pd.read_json('C:/Users/User/Desktop/BDU/TE_cvss/TE_cvss3.0.json')
dateframe_TE31 = pd.read_json('C:/Users/User/Desktop/BDU/TE_cvss/TE_cvss3.1.json')
dateframe_TE20 = pd.read_json('C:/Users/User/Desktop/BDU/TE_cvss/TE_cvss2.0.json')

In [34]:
dateframe_TE30

,AV_Class_1,AV_Class_2,AV_Class_3,AV_Class_4,AC_Class_1,AC_Class_2,AC_Class_3,AC_Class_4,PR_Class_1,PR_Class_2,...,C_Class_3,C_Class_4,I_Class_1,I_Class_2,I_Class_3,I_Class_4,A_Class_1,A_Class_2,A_Class_3,A_Class_4
0,0.422347,0.363712,0.017084,0.196797,0.385092,0.420732,0.037956,0.156126,0.432078,0.337987,...,0.096440,0.001210,0.318461,0.572999,0.106367,0.002046,0.464832,0.312988,0.008784,0.213266
1,0.422347,0.363712,0.017084,0.196797,0.385092,0.420732,0.037956,0.156126,0.432078,0.337987,...,0.096440,0.001210,0.318461,0.572999,0.106367,0.002046,0.464832,0.312988,0.008784,0.213266
2,0.422347,0.363712,0.017084,0.196797,0.385092,0.420732,0.037956,0.156126,0.432078,0.337987,...,0.096440,0.001210,0.318461,0.572999,0.106367,0.002046,0.464832,0.312988,0.008784,0.213266
3,0.422347,0.363712,0.017084,0.196797,0.385092,0.420732,0.037956,0.156126,0.432078,0.337987,...,0.096440,0.001210,0.318461,0.572999,0.106367,0.002046,0.464832,0.312988,0.008784,0.213266
4,0.410229,0.452666,0.131665,0.005441,0.385092,0.420732,0.037956,0.156126,0.432078,0.337987,...,0.012537,0.221306,0.476598,0.262945,0.004276,0.256103,0.464832,0.312988,0.008784,0.213266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24470,0.422347,0.363712,0.017084,0.196797,0.353420,0.530280,0.112383,0.003917,0.432078,0.337987,...,0.096440,0.001210,0.318461,0.572999,0.106367,0.002046,0.464832,0.312988,0.008784,0.213266
24471,0.270670,0.612933,0.115473,0.000770,0.385092,0.420732,0.037956,0.156126,0.275268,0.620711,...,0.012537,0.221306,0.476598,0.262945,0.004276,0.256103,0.464832,0.312988,0.008784,0.213266
24472,0.422347,0.363712,0.017084,0.196797,0.385092,0.420732,0.037956,0.156126,0.432078,0.337987,...,0.012537,0.221306,0.318461,0.572999,0.106367,0.002046,0.241349,0.655856,0.101636,0.001158
24473,0.270670,0.612933,0.115473,0.000770,0.385092,0.420732,0.037956,0.156126,0.275268,0.620711,...,0.012537,0.221306,0.476598,0.262945,0.004276,0.256103,0.464832,0.312988,0.008784,0.213266
24474,0.422347,0.363712,0.017084,0.196797,0.385092,0.420732,0.037956,0.156126,0.432078,0.337987,...,0.012537,0.221306,0.476598,0.262945,0.004276,0.256103,0.464832,0.312988,0.008784,0.213266

In [35]:
dateframe_TE31

,AV_Class_1,AV_Class_2,AV_Class_3,AV_Class_4,AC_Class_1,AC_Class_2,AC_Class_3,AC_Class_4,PR_Class_1,PR_Class_2,...,C_Class_3,C_Class_4,I_Class_1,I_Class_2,I_Class_3,I_Class_4,A_Class_1,A_Class_2,A_Class_3,A_Class_4
0,0.554146,0.384095,0.000000,0.061760,0.4286,0.399565,0.154256,0.017579,0.472371,0.477718,...,0.259284,0.000338,0.594697,0.114394,0.290909,0.000000,0.597497,0.153821,0.248682,0.000000
1,0.554146,0.384095,0.000000,0.061760,0.4286,0.399565,0.154256,0.017579,0.472371,0.477718,...,0.259284,0.000338,0.594697,0.114394,0.290909,0.000000,0.597497,0.153821,0.248682,0.000000
2,0.394226,0.402688,0.194624,0.008462,0.4286,0.399565,0.154256,0.017579,0.420775,0.334574,...,0.009274,0.056414,0.406942,0.545781,0.007780,0.039497,0.597497,0.153821,0.248682,0.000000
3,0.394226,0.402688,0.194624,0.008462,0.4286,0.399565,0.154256,0.017579,0.420775,0.334574,...,0.009274,0.056414,0.406942,0.545781,0.007780,0.039497,0.597497,0.153821,0.248682,0.000000
4,0.554146,0.384095,0.000000,0.061760,0.4286,0.399565,0.154256,0.017579,0.472371,0.477718,...,0.259284,0.000338,0.406942,0.545781,0.007780,0.039497,0.202176,0.744334,0.011786,0.041704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5348,0.554146,0.384095,0.000000,0.061760,0.4286,0.399565,0.154256,0.017579,0.298876,0.635955,...,0.009274,0.056414,0.406942,0.545781,0.007780,0.039497,0.597497,0.153821,0.248682,0.000000
5349,0.554146,0.384095,0.000000,0.061760,0.4286,0.399565,0.154256,0.017579,0.298876,0.635955,...,0.009274,0.056414,0.406942,0.545781,0.007780,0.039497,0.597497,0.153821,0.248682,0.000000
5350,0.394226,0.402688,0.194624,0.008462,0.4286,0.399565,0.154256,0.017579,0.420775,0.334574,...,0.259284,0.000338,0.594697,0.114394,0.290909,0.000000,0.597497,0.153821,0.248682,0.000000
5351,0.394226,0.402688,0.194624,0.008462,0.4286,0.399565,0.154256,0.017579,0.420775,0.334574,...,0.259284,0.000338,0.594697,0.114394,0.290909,0.000000,0.597497,0.153821,0.248682,0.000000
5352,0.394226,0.402688,0.194624,0.008462,0.4286,0.399565,0.154256,0.017579,0.420775,0.334574,...,0.259284,0.000338,0.406942,0.545781,0.007780,0.039497,0.202176,0.744334,0.011786,0.041704

In [37]:
dateframe_TE20

,AV_Class_1,AV_Class_2,AV_Class_3,AV_Class_4,AC_Class_1,AC_Class_2,AC_Class_3,AC_Class_4,Au_Class_1,Au_Class_2,...,C_Class_3,C_Class_4,I_Class_1,I_Class_2,I_Class_3,I_Class_4,A_Class_1,A_Class_2,A_Class_3,A_Class_4
0,0.025189,0.039556,0.046366,0.000000,0.041676,0.012306,0.070665,0.205303,0.033284,0.011882,...,0.002827,0.290491,0.034660,0.000000,0.002424,0.313782,0.033801,0.000000,0.007788,0.263924
1,0.025189,0.039556,0.046366,0.000000,0.041676,0.012306,0.070665,0.205303,0.033284,0.011882,...,0.002827,0.290491,0.034660,0.000000,0.002424,0.313782,0.033801,0.000000,0.007788,0.263924
2,0.032573,0.011233,0.096152,0.177803,0.041676,0.012306,0.070665,0.205303,0.033284,0.011882,...,0.134684,0.000000,0.008749,0.024367,0.114027,0.000000,0.033801,0.000000,0.007788,0.263924
3,0.032573,0.011233,0.096152,0.177803,0.041676,0.012306,0.070665,0.205303,0.033284,0.011882,...,0.134684,0.000000,0.008749,0.024367,0.114027,0.000000,0.033801,0.000000,0.007788,0.263924
4,0.025189,0.039556,0.046366,0.000000,0.041676,0.012306,0.070665,0.205303,0.033284,0.011882,...,0.168358,0.000071,0.008749,0.024367,0.114027,0.000000,0.000848,0.061292,0.164971,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48364,0.032573,0.011233,0.096152,0.177803,0.008937,0.011022,0.015788,0.000000,0.033284,0.011882,...,0.134684,0.000000,0.008749,0.024367,0.114027,0.000000,0.033801,0.000000,0.007788,0.263924
48365,0.025189,0.039556,0.046366,0.000000,0.041676,0.012306,0.070665,0.205303,0.018735,0.043426,...,0.002827,0.290491,0.034660,0.000000,0.002424,0.313782,0.033801,0.000000,0.007788,0.263924
48366,0.032573,0.011233,0.096152,0.177803,0.041676,0.012306,0.070665,0.205303,0.033284,0.011882,...,0.002827,0.290491,0.008749,0.024367,0.114027,0.000000,0.000848,0.061292,0.164971,0.000000
48367,0.025189,0.039556,0.046366,0.000000,0.041676,0.012306,0.070665,0.205303,0.018735,0.043426,...,0.002827,0.290491,0.034660,0.000000,0.002424,0.313782,0.033801,0.000000,0.007788,0.263924
48368,0.032573,0.011233,0.096152,0.177803,0.041676,0.012306,0.070665,0.205303,0.033284,0.011882,...,0.002827,0.290491,0.034660,0.000000,0.002424,0.313782,0.033801,0.000000,0.007788,0.263924

In [38]:
dateframe_OHE30 = pd.read_json('C:/Users/User/Desktop/BDU/OHE_cvss/OHE_cvss3.0.json')
dateframe_OHE31 = pd.read_json('C:/Users/User/Desktop/BDU/OHE_cvss/OHE_cvss3.1.json')
dateframe_OHE20 = pd.read_json('C:/Users/User/Desktop/BDU/OHE_cvss/OHE_cvss2.0.json')

In [39]:
dateframe_OHE30

,AV_A,AV_L,AV_N,AV_P,AC_H,AC_L,PR_H,PR_L,PR_N,UI_N,...,S_U,I_H,I_L,I_N,C_H,C_L,C_N,A_H,A_L,A_N
0,0,0,1,0,0,1,0,0,1,1,...,1,0,0,1,0,0,1,1,0,0
1,0,0,1,0,0,1,0,0,1,1,...,1,0,0,1,0,0,1,1,0,0
2,0,0,1,0,0,1,0,0,1,1,...,1,0,0,1,0,0,1,1,0,0
3,0,0,1,0,0,1,0,0,1,1,...,1,0,0,1,0,0,1,1,0,0
4,1,0,0,0,0,1,0,0,1,1,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24470,0,0,1,0,1,0,0,0,1,1,...,1,0,0,1,0,0,1,1,0,0
24471,0,1,0,0,0,1,0,1,0,1,...,1,1,0,0,1,0,0,1,0,0
24472,0,0,1,0,0,1,0,0,1,0,...,1,0,0,1,1,0,0,0,0,1
24473,0,1,0,0,0,1,0,1,0,1,...,1,1,0,0,1,0,0,1,0,0
24474,0,0,1,0,0,1,0,0,1,1,...,1,1,0,0,1,0,0,1,0,0

In [40]:
dateframe_OHE31

,AV_A,AV_L,AV_N,AV_P,AC_H,AC_L,PR_H,PR_L,PR_N,UI_N,...,S_U,I_H,I_L,I_N,C_H,C_L,C_N,A_H,A_L,A_N
0,0,1,0,0,0,1,0,1,0,1,...,0,1,0,0,1,0,0,1,0,0
1,0,1,0,0,0,1,0,1,0,1,...,1,1,0,0,1,0,0,1,0,0
2,0,0,1,0,0,1,0,0,1,1,...,1,0,0,1,0,0,1,1,0,0
3,0,0,1,0,0,1,0,0,1,1,...,1,0,0,1,0,0,1,1,0,0
4,0,1,0,0,0,1,0,1,0,1,...,1,0,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5348,0,1,0,0,0,1,1,0,0,1,...,1,0,0,1,0,0,1,1,0,0
5349,0,1,0,0,0,1,1,0,0,1,...,0,0,0,1,0,0,1,1,0,0
5350,0,0,1,0,0,1,0,0,1,1,...,1,1,0,0,1,0,0,1,0,0
5351,0,0,1,0,0,1,0,0,1,1,...,1,1,0,0,1,0,0,1,0,0
5352,0,0,1,0,0,1,0,0,1,1,...,1,0,0,1,1,0,0,0,0,1

In [41]:
dateframe_OHE20

,AV_A,AV_L,AV_N,AC_H,AC_L,AC_M,Au_M,Au_N,Au_S,I_C,I_N,I_P,C_C,C_N,C_P,A_C,A_N,A_P
0,0,1,0,0,1,0,0,1,0,1,0,0,1,0,0,1,0,0
1,0,1,0,0,1,0,0,1,0,1,0,0,1,0,0,1,0,0
2,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0
3,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0
4,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48364,0,0,1,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0
48365,0,1,0,0,1,0,0,0,1,1,0,0,1,0,0,1,0,0
48366,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0
48367,0,1,0,0,1,0,0,0,1,1,0,0,1,0,0,1,0,0
48368,0,0,1,0,1,0,0,1,0,1,0,0,1,0,0,1,0,0

In [32]:
dateframe_cvss30 = pd.read_json('C:\\Stack\\BDU\\original_cvss\\original_cvss30.json')
dateframe_cvss31 = pd.read_json('C:/Stack/BDU/original_cvss/original_cvss31.json')
dateframe_cvss20 = pd.read_json('C:\\Stack\\BDU\\original_cvss\\original_cvss20.json')

In [4]:
dateframe_cvss30

                 Name     Class AV AC PR UI  S  C  I  A
0       CVE-2013-1145      HIGH  N  L  N  N  U  N  N  H
1       CVE-2013-1147      HIGH  N  L  N  N  U  N  N  H
2       CVE-2013-5474      HIGH  N  L  N  N  U  N  N  H
3       CVE-2013-5475      HIGH  N  L  N  N  U  N  N  H
4       CVE-2013-4408      HIGH  A  L  N  N  C  H  H  H
...               ...       ... .. .. .. .. .. .. .. ..
24470  CVE-2022-37965    MEDIUM  N  H  N  N  U  N  N  H
24471  CVE-2022-37955    MEDIUM  L  L  L  N  U  H  H  H
24472  CVE-2022-38006      HIGH  N  L  N  R  U  H  N  N
24473  CVE-2022-37956    MEDIUM  L  L  L  N  U  H  H  H
24474  CVE-2022-31689  CRITICAL  N  L  N  N  U  H  H  H

[24475 rows x 10 columns]

In [6]:
dateframe_cvss31

                  Name     Class  Score AV AC PR UI  S  C  I  A
0        CVE-2021-1942      HIGH    8.8  L  L  L  N  C  H  H  H
1        CVE-2021-1950      HIGH    7.8  L  L  L  N  U  H  H  H
2       CVE-2021-30328      HIGH    7.5  N  L  N  N  U  N  N  H
3       CVE-2021-30329      HIGH    7.5  N  L  N  N  U  N  N  H
4       CVE-2021-30331    MEDIUM    5.5  L  L  L  N  U  H  N  N
...                ...       ...    ... .. .. .. .. .. .. .. ..
5348    CVE-2017-18030    MEDIUM    4.4  L  L  H  N  U  N  N  H
5349     CVE-2018-5683    MEDIUM    6.0  L  L  H  N  C  N  N  H
5350     CVE-2018-5986  CRITICAL    9.8  N  L  N  N  U  H  H  H
5351  CVE-2018-1000007  CRITICAL    9.8  N  L  N  N  U  H  H  H
5352     CVE-2018-1048      HIGH    7.5  N  L  N  N  U  H  N  N

[5353 rows x 11 columns]

In [33]:
dateframe_cvss20

                    0         1    2  3  4  5  6  7  8
0       CVE-2021-1942      HIGH  7.2  L  L  N  C  C  C
1       CVE-2021-1950      HIGH  7.2  L  L  N  C  C  C
2      CVE-2021-30328      HIGH  7.8  N  L  N  N  N  C
3      CVE-2021-30329      HIGH  7.8  N  L  N  N  N  C
4      CVE-2021-30331       LOW  2.1  L  L  N  P  N  N
...               ...       ...  ... .. .. .. .. .. ..
48364  CVE-2022-37965    MEDIUM  NaN  N  H  N  N  N  C
48365  CVE-2022-37955    MEDIUM  NaN  L  L  S  C  C  C
48366  CVE-2022-38006      HIGH  NaN  N  L  N  C  N  N
48367  CVE-2022-37956    MEDIUM  NaN  L  L  S  C  C  C
48368  CVE-2022-31689  CRITICAL  NaN  N  L  N  C  C  C

[48369 rows x 9 columns]

In [36]:
data_w = list()
data = dateframe_cvss20.to_numpy()
for i in range(len(data)):
    if data[i][0] != None:
        data_w.append(data[i])

In [37]:
dateframe_cvss20 = pd.DataFrame(data_w, columns=["Name", "Class", "Score", "AV", "AC", "AU", "C", "I", "A"])
with open('C:\\Stack\\BDU\\original_cvss\\original_cvss20.json', 'w') as file:
    json.dump(dateframe_cvss20.to_dict('records'), file)